$slidable-item-height: 100px !default
$slidable-item-width: 100px !default

$slidable-rows: 1 !default

$slidable-button-size: 24px !default
$slidable-button-width: $slidable-button-size !default
$slidable-button-height: $slidable-button-size !default


$slidable-gutter: 10px !default

$slidable-vertical-gutter: $slidable-gutter !default
$slidable-horizontal-gutter: $slidable-gutter !default

.slidable-wrapper
  position: relative
  overflow: visible

  button
    position: absolute
    top: 50%
    cursor: pointer
    margin-top: -$slidable-button-height/2
    width: $slidable-button-width
    height: $slidable-button-height
    padding: 0
    border: none
    background-color: transparent
    background-image: url("slidable.png")
    background-repeat: no-repeat
    background-size: auto auto
    border: none
    z-index: 1
    &.next
      right: -$slidable-button-width
      background-position: -$slidable-button-width 0
      &.disabled
        background-position: -3*$slidable-button-width 0
    &.prev
      left: -$slidable-button-width
      background-position: 0 0
      &.disabled
        background-position: -2*$slidable-button-width 0
    &.disabled
      cursor: default

  .slidable-viewport
    position: relative
    overflow: hidden
    padding: 0
    margin: 0

  .slidable-list
    position: relative
    margin: 0
    left: 0
    top: 0
    height: $slidable-rows * ($slidable-item-height + $slidable-vertical-gutter)

  .slidable-item
    height: $slidable-item-height
    width: $slidable-item-width
